---
name: Lint

on:
  workflow_dispatch:
  pull_request:
    branches:
      - main

concurrency:
  group: ${{ github.ref }}-${{ github.workflow }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  yamllint:
    name: yamllint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false

      - name: Get changed files
        id: changed-files
        uses: bjw-s-labs/action-changed-files@8be6875cae299c523f3b3f56a5a79b46c9fd078f # v0.4.0
        with:
          patterns: |-
            **/*.yaml
            **/*.yml

      - name: Install yamllint
        if: steps.changed-files.outputs.changed_files != '[]'
        shell: bash
        run: |
          pip install --user yamllint

      - name: Run yamllint
        if: steps.changed-files.outputs.changed_files != '[]'
        shell: bash
        run: |
          yamllint --config-file .yamllint.yaml --format github ${{ join(fromJSON(steps.changed-files.outputs.changed_files), ' ') }}

  lint_success:
    needs:
      - yamllint
    if: ${{ !cancelled() }}
    name: Lint successful
    runs-on: ubuntu-latest
    steps:
      - name: Check job status
        if: ${{ contains(needs.*.result, 'failure') }}
        run: exit 1
